$fz : 14px;
$col : #06224c;
$navcol:#1e4159;
$pointcol:#337ab7;
* a{
    text-decoration: none;
    color: $navcol;
    &:hover{
        color: $pointcol;
    }
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: $fz;
    height: 1000px;
    padding: 0px;
    margin: 0px;
}

.header-first{
	width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    background-color: rgb(255, 255, 255);
.headerf{
    height: 45px;
    width: 200px;
    margin-top: 16px;
}
.logo-city-lang{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-right: 190px;
    margin-left: -20px;
}
.logo{
    display: flex;
    height: 40px;
    width: 145px;
        
    .logo_I, .logo_T, .logo_E, .logo_A{
    border: 2px solid rgb(122, 120, 120);
    width: 37px;
    text-align: center;
    padding: 10px;
    color:  rgb(99, 96, 96);
    }
    }
.lang, .phone{
    height: 45px;
    box-sizing: border-box;
    width: 90px;
    margin-top: 12px;
    padding-top: 15px;
    text-align: center;
    color:  rgb(117, 116, 116);
    }
.lang{
    .ru{
    color: $col;
    }
& a{
        color: rgb(144, 167, 211);
    }
    }
.ua:hover{
    color: $col;
    }
.en:hover{
    color: $col;
    }
.city{
    height: 45px;
    width: 120px;
    text-align: center;
    position: relative;
    z-index: 2;
    }
.icon_city{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.menu_city{
    text-decoration: none;
    list-style: none;
    text-align: start;
    margin-top: 15px;
    height: 310px;
    background-color: #fff;
    display: none;
li  {
    padding-top: 28px;
    }
    }
.kiev{
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin-top: 0px;
    padding-top: 11px;
    display: block;
    }
.city:hover .menu_city{
    display: block;
    }
a   {
    text-decoration: none;
    color: rgb(99, 96, 96);
    }
a:hover{
    color: red;
    }
.icon-phone-button{
    display: flex;  
    width: 400px;
    justify-content: space-evenly;
    margin-left: 90px;
        
.icon{
    height: 25px;
    width: 25px;
    margin-top: 20px;
    margin-left: -30px;
    cursor: pointer;
    }
.button{
    box-sizing: border-box;
    width: 222px;
    color: rgb(246, 248, 250);
    text-align: center;
    background-color: #899cb8;
    padding-top: 15px;
    margin-top: 9px;
    transition: all .3s linear;
    cursor: pointer;
&:hover{
    background-color: rgb(240, 247, 248);
    color: #899cb8;
    }
    }
    }
.phone{
    margin-right: 70px;
    }
.phone a:hover{
    color: $col;
    cursor: pointer;
    text-decoration-line: underline;
    }
}
.header-second{
	width: 100%;
	// transition: all .3s ease;
    display: flex;
    justify-content: start;
    height: 50px;
    background-color: rgb(240, 247, 248);

.nav_menu{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 1190px;
    z-index: 1;
.nav &{
    box-sizing: border-box;
    width: 1px;
    }

.itea {
    position: absolute;
    text-decoration: none;
    list-style: none;
    padding-left: 25px;
    padding-top: 25px;
    height: 230px;
    width: 170px;
    color: $navcol;
    background: rgb(240, 247, 248);

& li{
    padding-bottom: 15px;
    }
    display: none;  
    }

.itea:hover{
    display: block;
    }
    }

.one{
    position: relative;
    margin-left: 90px;
    color: $navcol;
    cursor: pointer;

&:hover .itea{
    display: block;
    }

&:hover{
    color: $pointcol;
    }
    }

.evening_courses{
    position: absolute;
    margin-left: -25px;
    text-decoration: none;
    list-style: none;
    padding-left: 25px;
    padding-top: 25px;
    height: 110px;
    width: 130px;
    color: $navcol;
    background: rgb(240, 247, 248);

& li{
    padding-bottom: 15px;
    }
    display: none;
    }
.two{
    color: $navcol;
    cursor: pointer;
&:hover .evening_courses{
        display: block;
    }
&:hover{
        color: $pointcol;
    }
}
.day_courses{
    position: absolute;
    margin-left: -25px;
    text-decoration: none;
    list-style: none;
    padding-left: 25px;
    padding-top: 25px;
    height: 110px;
    width: 130px;
    color: $navcol;
    background: rgb(240, 247, 248);
& li{
    padding-bottom: 15px;
    }
    display: none;
}
.three{
    color: $navcol;
    cursor: pointer;
&:hover .day_courses{
    display: block;
    }
&:hover{
    color: $pointcol;
    }
}
.services{
    position: absolute;
    margin-left: -25px;
    text-decoration: none;
    list-style: none;
    padding-left: 25px;
    padding-top: 25px;
    height: 140px;
    width: 170px;
    color: $navcol;
    background: rgb(240, 247, 248);
& li{
    padding-bottom: 15px;
    }
    display: none;
    }
.four{
    color: $navcol;
    cursor: pointer;
&:hover .services{
    display: block;
    }
&:hover{
    color: $pointcol;
    }
    }


.btn_search{
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 50px;
    width: 216px;
}
.form-control{
    margin-right: 1px;
    height: 30px;
    width: 150px;
    margin-top: 7px;
    border-radius: 5px;
    // display: none;
}
.show-search{
    cursor: pointer;
    height: 30px;
    margin-top: 9px;
    background-color: rgb(240, 247, 248);
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: $fz;
    // border: 2px solid blue;
    
}
.show-search:hover .form-control{
    display: block;
    }
}
.img_bgrd{
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    // border: 1px solid red;
    
img{
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat; 
    }
}
.heading{
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 600px;
.h1{
    width: 400px;
    font-size: 39.39px;
    color: #d31f45;  
}
.h3{
    font-size: 16px;
    color: rgb(17, 17, 17);
}
}
.heading_after{
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 130px;
    font-size: 20px;
    width: 600px;
}

.all_imges{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    width: 1250px;
    height: 822px;
    // border: 2px solid green;
}
.line_java{
    display: flex;
    justify-content: center;
    // border: 2px solid red;
    height: 170px;
}

.line_one{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    width: 100px;
    height: 100px;
    border: 6px solid #23527c;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
    & img{
    position: absolute;
    width: 100px;
    height: 100px;
    }
    & h3, span{
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 180px;
    // border: 2px solid green;
    }
}
.line_csharp{
    display: flex;
    justify-content: space-around;
    height: 170px;
    width: 1200px;
    margin-top: -322px;
    // border: 2px solid red;
}
.line_two{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    width: 100px;
    height: 100px;
    border: 6px solid #23527c;
    border-radius: 50%;
    // margin-left: 50px;
    // margin-right: 50px;
    & img{
    position: absolute;
    width: 100px;
    height: 100px;
    }
}
h3{
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 180px;
    // border: 2px solid green;
    width: 350px;
    }